# setup.sh generates these values from ~/.xz_domain.
ENABLE_HTTPS=true
XZ_DOMAIN=example.com
NGINX_CONFIG_TEMPLATE=./nginx/default.conf.template
NGINX_SSL_CERTIFICATE=/etc/letsencrypt/live/example.com/fullchain.pem
NGINX_SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/example.com/privkey.pem
NGINX_HTTP_PORT=8080
NGINX_HTTPS_PORT=8443
NGINX_WS_PORT=18080
NGINX_WSS_PORT=18443
